
$oceanDiveBlue: #005A9E; // RGBA(0, 90, 158, 1)
$azure: #2194EB; // RGBA(33, 148, 235, 1)
$sandyBrown: #EB9C2A; // RGBA(235, 156, 42, 1)
$brown: #8A550B; // RGBA(138, 85, 11, 1)
$orangeBrown: #FFB347; // RGBA(255, 179, 71, 1)
