@import 'styles';

.game {
  @include alignChildrenCenter();

  .info {
    max-width: 500px;

    & > * {
      text-align: center;
    }
  }

  h5 {
    height: 16px;
    font-size: 14px;
  }

  .hidden {
    visibility: hidden;
  }

  form {
    max-width: 500px;
    margin-top: 20px;

    @include alignChildrenCenter();

    & > * {
      display: block;
    }

    label {
      div {
        text-align: center;

        input {
          max-width: 100px;
          margin-left: 5px;
        }
      }
    }

    label + label {
      margin-top: 5px;
    }

    button[type="submit"] {
      margin-top: 10px;
    }
  }
}

.vinousRed {
  background-color: #A81131;
}

.grassGreen {
  background-color: #0A7500;
}

.azure {
  background-color: $azure;
}

.yellow {
  background-color: #EAE811;
}

.purple {
  background-color: #740075;
}

.solidRed {
  background-color: #A81113;
}

.babyBlue {
  background-color: #10EBDC;
}

.brown {
  background-color: #754800;
}

.oceanBlue {
  background-color: #2A338C;
}

.horse {
  background-image: url('../../assets/horse.jpg');
  background-size: cover;
}

.catsville {
  background-image: url('../../assets/catsville.jpg');
  background-size: cover; 
  background-position-x: -18px;
}

.pineapple {
  background-image: url('../../assets/pineapple.jpg');
  background-size: cover;
}

.ie {
  background-image: url('../../assets/explorer.png');
  background-size: cover;
}

.cannot {
  background-image: url('../../assets/cannot.jpg');
  background-size: cover;
  background-position-x: -35px;
}

.pacha {
  background-image: url('../../assets/pacha.jpeg');
  background-size: cover;
}

.pick4er {
  background-image: url('../../assets/pick4er.jpg');
  background-size: cover;
}

.osensei {
  background-image: url('../../assets/osensei.png');
  background-size: cover;
}

.malachov {
  background-image: url('../../assets/malachov.jpg');
  background-size: cover;
}
