@import 'styles';

.game {
  @include alignChildrenCenter();

  .info {
    max-width: 500px;

    & > * {
      text-align: center;
    }
  }

  h5 {
    height: 16px;
    font-size: 14px;
  }

  .hidden {
    visibility: hidden;
  }

  form {
    max-width: 500px;
    margin-top: 20px;

    @include alignChildrenCenter();

    & > * {
      display: block;
    }

    label {
      div {
        text-align: center;

        input {
          max-width: 100px;
          margin-left: 5px;
        }
      }
    }

    label + label {
      margin-top: 5px;
    }

    button[type="submit"] {
      margin-top: 10px;
    }
  }
}

.vinousRed {
  background-color: #A81131;
}

.grassGreen {
  background-color: #0A7500;
}

.azure {
  background-color: $azure;
}

.tulipPurple {
  background-color: #7511A8;
}

.grey {
  background-color: #887B6A;
}

.yellow {
  background-color: #EAE811;
}

.pink {
  background-color: #DB585A;
}

.purple {
  background-color: #740075;
}

.solidRed {
  background-color: #A81113;
}

.babyBlue {
  background-color: #10EBDC;
}

.brown {
  background-color: #754800;
}

.avocadoGreen {
  background-color: #5BEB67;
}

.oceanBlue {
  background-color: #2A338C;
}