
.game {
  h5 {
    height: 14px;
    font-size: 14px;
  }
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.grey {
  background-color: grey;
}

.orange {
  background-color: orange;
}
